删除library库

删除library库

In [15]:
-- 1. 切换到master数据库
USE master;
GO

-- 2. 断开所有连接
ALTER DATABASE library SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO

-- 3. 删除数据库
DROP DATABASE library;
GO

: Msg 5011, Level 14, State 5, Line 6
User does not have permission to alter database 'library', the database does not exist, or the database is not in a state that allows access checks.

: Msg 5069, Level 16, State 1, Line 6
ALTER DATABASE statement failed.

: Msg 3701, Level 11, State 1, Line 10
Cannot drop the database 'library', because it does not exist or you do not have permission.

列出lirary中的所有表

In [1]:
USE library;
GO

-- 使用系统视图查看所有表
SELECT name 
FROM sys.tables;

name
library_user
books
student
user_book

In [22]:
-- 删除特定的表
USE library;
DROP TABLE IF EXISTS library_user;

: Msg 3726, Level 16, State 1, Line 3
Could not drop object 'library_user' because it is referenced by a FOREIGN KEY constraint.

列出user表的内容

In [2]:
-- 首先切换到library数据库
USE library;
GO

-- 显示user表中的所有数据
SELECT * FROM library_user;

id,username,password,user_type,balance
1,admin,admin,admin,-12
2,123,123,user,0
3,wzz,952891332,user,0
4,王樟卓,952891332,user,0
5,王2,952891332,user,10
6,1234,1234,user,10
7,12345,12345,user,10

In [3]:
--首先切换到library数据库
use library;
GO

-- 显示books表的所有数据
SELECT * FROM books;

id,title,author,publisher,isborrowed
1,123,123,123,0
2,123,123,123,1
3,123,123,123,1
4,12,123,123,1
5,456,456,456,1
6,789,789,789,1
7,147,147,147,1
8,568,5689,4568,1
9,nihao,nihao,nihao,1
10,nihao1,nihao1,nihao1,1

In [2]:
-- 设置表可插入
SET IDENTITY_INSERT [dbo].[library_user] ON

In [2]:
-- 添加user中admin人物
USE library;
SELECT user;
INSERT INTO library_user (id, username, password, user_type, balance) VALUES (1, 'admin', 'admin', 'admin', 2147483647);

(无列名称)
dbo

: Msg 544, Level 16, State 1, Line 4
Cannot insert explicit value for identity column in table 'library_user' when IDENTITY_INSERT is set to OFF.