删除library库

In [40]:
-- 1. 切换到master数据库
USE master;
GO

-- 3. 删除数据库
DROP DATABASE library;
GO

列出lirary中的所有表

In [4]:
USE library;
GO

-- 使用系统视图查看所有表
SELECT name 
FROM sys.tables;

name
library_user

列出user表的内容

In [5]:
-- 首先切换到library数据库
USE library;
GO

-- 显示user表中的所有数据
SELECT * FROM library_user;

id,name,age,balance
1,张三,25,500
3,张三,25,500
4,李四,28,1000