删除library库

删除library库

In [8]:
    -- 1. 切换到master数据库
USE master;
GO

-- 3. 删除数据库
DROP DATABASE library;
GO

: Msg 3702, Level 16, State 4, Line 6
Cannot drop database "library" because it is currently in use.

列出lirary中的所有表

In [2]:
USE library;
GO

-- 使用系统视图查看所有表
SELECT name 
FROM sys.tables;

name
library_user
books
user_book

In [ ]:
-- 删除特定的表

列出user表的内容

In [4]:
-- 首先切换到library数据库
USE library;
GO

-- 显示user表中的所有数据
SELECT * FROM library_user;

id,name,age,balance
1,张三,25,500
4,李四,28,1000
5,WZZ,40,40
6,王樟卓,20,400
7,王樟卓,30,500
8,王樟卓,70,600

In [ ]:
-- 添加user中admin人物
USE library;
SELECT user;
INSERT INTO user (name, password, ) VALUES ('admin', 'admin', 1);